interface {{ interfaceName }} {
  action: string;
  qs?: any;
  {{ interface definitions }}
}

function {{name}}({ action, qs, {{ args params }} }: {{ interfaceName }}): any {
  return {
    base: '{{path}}',
    action,
    params: { {{ args params }} },
    qs
  }
}

export default {{ name }}
